.features {
    padding: 90px 0;
    &-title {
        font-weight: bold;
    }
    &-list {
        font-size: 1rem;
    }
}
.display-4 {
    font-size: 2.5rem !important;
}
.content {
    padding: 1.5rem;
}
.greybackground {
    background-color: #f8f8f8;
}
.whitebackground {
    background-color: 'white';
}
